<button type="button" name="button" ng-click="showNewPostForm = true" ng-show="!showNewPostForm">Show new post form</button>
<form class="new-post" ng-submit="addPost()" ng-show="showNewPostForm">
  <label for="post-title">Title</label>
  <input type="text" name="post-title" ng-model="newPost.title" ng-required="true" ng-maxlength="40">

  <label for="post-author">Author</label>
  <input type="text" name="post-author" ng-model="newPost.author" ng-required="true" ng-minlength="2" ng-maxlength="40">

  <label for="post-image_url">Image URL</label>
  <input type="text" name="post-image_url" ng-model="newPost.image_url" ng-required="true">

  <label for="post-description">Description</label>
  <input type="text" name="post-description" ng-model="newPost.description" ng-required="true" ng-minlength="3" ng-maxlength="140">

  <button type="submit">Create post</button>
</form>
