<button type="button" name="button" ng-click="showNewCommentForm = true" ng-show="true || !showNewCommentForm">Show new comment form</button>
<form class="new-comment" ng-submit="addComment()" ng-show="showNewCommentForm">
  <label for="comment-author">Author</label>
  <input type="text" name="comment-author" ng-model="newComment.author" ng-required="true" ng-minlength="2" ng-maxlength="40">

  <label for="comment-description">Description</label>
  <input type="text" name="comment-description" ng-model="newComment.description" ng-required="true" ng-minlength="3" ng-maxlength="140">

  <button type="submit">Create comment</button>
</form>
